//COLORS
$header-bg-black: rgb(36, 41, 46);
$color-white: #fff;
$color-black: #000;
$color-text-blue: #0366D6;
$color-green-blue: #2B7489;
$color-light-gray: #e9eaeb;

//FONT
$default-font-size: 1.6rem;
