<div class="main">
  <div class="main__search">
    <h1 class="heading-primary px-5 mx-5">Search Github users</h1>
    <div class="search-block">
      <div class="d-flex">
        <input
          type="text"
          placeholder="Type the username ..."
          class="search-block__input w-75"
          [ngClass]="{'search-block__input--exist': usersList.length > 0}"
          [formControl]="usernameCtrl"
        />
        <button
          class="search-block__btn w-25 ml-3"
          (click)="onSearchClick()"
        >
          Search
        </button>
      </div>
      <app-group-card-user
        [usersList]="usersList"
        [input]="usernameCtrl.value"
        [isSearchClicked]="isSearchClicked"
      ></app-group-card-user>
    </div>
  </div>
</div>
