@import "src/assets/scss/variables";

.main {
  min-height: 92.25vh;
  position: relative;
  background-image: url("../../../assets/images/main-bg.jpg");
  background-size: cover;
  background-position: top;
  transition: all 0.2s;

  &__search {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 75%;

    .search-block {
      &__input {
        height: 4rem;
        font-size: 1.6rem;
        border-radius: 2rem;
        border: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .5);
        padding-left: 2rem;
        &--exist {
          border-bottom: 1px solid $color-light-gray;
        }
        &:hover, &:focus {
          transform: translateY(-3px);
        }
      }
      &__btn {
        outline: none;
        border: none;
        border-radius: 2rem;
        font-size: 1.4rem;
        background-color: $color-white;
        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    &__search {
      width: 90%;
    }
  }
}
